/* general rules */

:root{
    --bg-color:#3a6cf4;

}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* background-color: #3a6cf425;
    outline: 1px dashed black; */

}
i{
    transition: 0.3s ease;
}
i:hover{
    color: var(--bg-color);
    transform: scale(1.3);
}
/* end general rules */
/* start header section  */
header {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.568);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    overflow: hidden;
}
.logo{
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.8em;
    color:#3a6cf4 ;
}
.navigation a{
    color: var(--bg-color);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: 0.3s ease;
    padding: 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.navigation a:hover::before{
    animation: right 1s ease-in-out;
}
@keyframes right {
    0%{
        right: 100%;
    }
    100%{
        right: 0%;
    }
    
}
.navigation a::before{
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0px;
    width: 70%;
    height: 3px;
    background-color: #601cfc ;

}
.navigation a:hover{
    color:#601cfc ;

}
/* end header section  */
/* start main section  */
.arrow{
    color: rgb(255, 255, 255);
    font-size: 50px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    animation: bounce 1s ease infinite;

}
.courses{
    position: relative;
}
.courses::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -10px;
    background-color: white;
    animation: scroll 4s ease-in-out infinite alternate-reverse;
}
.courses::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -20px;
    background-color: white;
    animation: scroll 4s ease-in-out infinite alternate-reverse 0.3s;
    
}
@keyframes scroll {
    0%{
        width: 0%;
        background-color: var(--bg-color);
    }
    100%{
        width: 50%;
        transform: translateX(30%);
        background-color: rgb(255, 255, 255);

    }
    
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(imgs/mehdi.jpg);
    
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center  10px;
    background-attachment: fixed;
    /* end */
}
.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;


}
.main h2 span{
    color:var(--bg-color);
    font-weight: 600;
    font-size: 2.5em;
    display: inline-block;
    margin-top: 10px;


}
.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    background-color: var(--bg-color);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9em 2.1em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    color: white;

}
.main-btn:hover{
    background-color: rgb(42, 42, 255);
    transform: scale(1.1);
    color: white;
}
.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;

}
#social{
    height: fit-content;
}
/* end main section  */
/* start services */
.title{
    display: flex;
    justify-content: center;
    color: var(--bg-color);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    z-index: 200;
    position: relative;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #fff;
    width: 21.25em;
    Box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    text-overflow: ellipsis;
    height: 30em;
    position: relative;
    overflow: hidden;

}
.card::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4px;
    height: 0%;
    background-color: var(--bg-color);
}
.card::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 0%;
    background-color: var(--bg-color);
}
.card:hover::after,
.card:hover::before{
    animation: top 2s ease-in-out infinite  alternate-reverse;
}

@keyframes top {
    0%{
        height: 0%;
        background-color: white;
    }    
    50%{
        background-color: var(--bg-color);
    }
    100%{
        height: 100%;
        background-color: white;

    }
}
#social{
    height: fit-content;
}
.card:hover{
    transform: scale(1.1);
    Box-shadow:0 10px 20px rgba(0, 0, 0, 0.372), 0 6px 6px rgba(0, 0, 0, 0.368);

}
.card .icon{
color: var(--bg-color);
font-size: 8em;
text-align: center;
}
.info {
    text-align: center;
}
.info h3{
    color: var(--bg-color);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/* end services section*/
/* start project section  */
.projects{
    background-color: black;
    background-image: url(/imgs/2489634.jpg);
    position: relative;
    
}
.projects::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 1;
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 15px;
    margin: 20px;
    transition: 0.7s ease;
    opacity: 0.8;
    z-index: 11;
   

}

.project-card:hover{
    transform: scale(1.1);
    opacity: 1;
}
.project-image img{
width: 100%;

}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: black;
}
.project-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 800;
    z-index: 17;
    
}
.more-details{
    text-decoration: none;
    color: var(--bg-color);
}
.more-details:hover{
    color: #601cfc;
}
/* end project section  */
/* start contact section */
.contact .icon{
    font-size: 4.5em;

}
.contact .info h3{
    color: black;
}
.contact .info h3{
    color: #000;
}
.contact .info p{
    font-size: 1.2em;
    
}
 .info p a{
    text-decoration: none;
    color: var(--bg-color);
}
/* end contact section  */
/* start testimonails */
.cards .card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#services .card.testimonials{
    border: 5px solid  var(--bg-color);
}

#first{
    text-align: right;
}
#second{
    text-align: left;
    direction: ltr;
}
#third{
    text-align: right;
}
/* end testimonials */

/* start footer */
footer{
    background-color: black;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/imgs/2489634.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
footer::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 1;
}
footer p{
 font-size: 1.3em;
 font-weight: 600;
 z-index: 4;
}
footer span{
    color: var(--bg-color);
    z-index: 4;

}
footer .social-icons a{
    font-size: 1.3em;
    z-index: 7;
    position: relative;


}
/* end footer */

@media (max-width:1023px) {
    header{
        padding: 12px 20px;
    }
    header .title{
        font-size: 1.8em;
    }
    header .navigation{
        display: flex;
        gap: 5px;
    }
    section{
        padding:80px 20px ;
    }
    .main{
        background-position: right center;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    footer{
        flex-direction: column;
        gap: 20px;
    }
    footer p , footer .social-icons{
        font-size: 1em;
    }

}
@media (max-width:641px) {
    body{
        font-size: 16px;
    }
}
@media (max-width:499px) {
    body{
        font-size: 16px;
    }
    header {
        padding: 10px;
    }
    header{
        justify-content:left;
        gap: 2px;
    }
    header .logo{
        font-size: 1.1em;
        margin-right: 25px;
    }
    header .navigation a{
        font-size: 0.9em;
        padding: 5px 10px
        
        
    }
    .main  h2 span {
        font-size: 2.5em;
    }
    .main h3{
        font-size: 1.3em;
    }
    .project-card{
        width: 90%;
    }
    
}